

ion-avatar {
    width: 90px;
    height: 90px;
}

.m-3 {
    margin: 0 25px;
}

.name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.phone {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin: 4px 0 7px 0;
}
