ion-header {
    &::after {
        content: none;
    }
}

.select-region {
    display: flex;
    align-items: center;
    .left {
        display: flex;
        align-items: center;
    }
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 10px;
    }
    .name {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        margin-left: 20px;
    }
}

.select-id {
    .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 10px;
    }
    ion-item {
        margin-bottom: 10px;
        ion-label {
            display: flex;
            align-items: center;
            img {
                margin-right: 3px;
            }
        }
    }
}

ion-footer {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none !important;
    &::before {
        content: none;
    }
}

ion-item {
    border: 0.5px solid #272727;
    box-sizing: border-box;
    border-radius: 16px;
}