.forgot {
    padding: 60px 30px !important;
    .forgot-title {
        h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
        }
    }
    .forgot-phone {
        padding: 30px 0;
    }
}
