<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon [src]="home"></ion-icon>

            <ion-label>

                Home

            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="appointment">
            <ion-icon [src]="app"></ion-icon>

            <ion-label>

                Appointment

            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="health">
            <ion-icon [src]="headlth"></ion-icon>

            <ion-label>

                My-Health

            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="more">
            <ion-icon [src]="more"></ion-icon>

            <ion-label>

                More

            </ion-label>
        </ion-tab-button>



    </ion-tab-bar>
</ion-tabs>