<ion-grid class="header">
    <ion-row>
        <ion-col
            size="2"
            class="header-button"
        >
            <ion-buttons>
                <ion-back-button
                    text=""
                    [icon]="buttonIcon"
                    [defaultHref]="defaultHref"
                >
                </ion-back-button>
            </ion-buttons>

        </ion-col>

        <ion-col
            size="8"
            class="header-text"
        >

            {{headerTitle}}

        </ion-col>

        <ion-col size="2">

        </ion-col>


    </ion-row>
</ion-grid>