.login {
    padding: 200px 30px 0 30px !important;
    .login-form {
        width: 100%;
        .login-form-input {
            label {
                font-size: 10px;
                line-height: 15px;
                color: var(--ion-color-primary);
                opacity: 50%;
            }
            input {
                position: relative;
                border: none;
                border-bottom: 1.5px solid var(--ion-color-primary);
                opacity: 0.5;
                width: 100%;
                outline: none;
            }
            img {
                position: absolute;
                right: 0;
            }
        }
        .forgot {
            text-align: end;
            margin: 24px 0;
            span {
                font-size: 14px;
                line-height: 21px;
                color: var(--ion-color-secondary-contrast);
            }
        }
    }
    .signup {
        margin-top: 150px;
        text-align: center;
        span {
            font-size: 14px;
            line-height: 21px;
        }
    }
}

button {
    height: 46px;
    width: 100%;
}
