.terms {
    .terms-title {
        text-align: center;
        padding: 0 30px !important;
        h1 {
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
        }
        p {
            text-align: start;
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            margin-bottom: 10px;
        }
    }
    .terms-button {
        text-align: center;
        margin-top: 30px;
    }
}
